[class*="container"]{
    min-height: 100px;
    background-color: royalblue;
}

[class*="col-"]{
    padding: 10px;
}

h1, h2, h3{
    color: white;
    text-transform: uppercase;
    font-size: bold;
}

img{
    width: 250px;
}

#logo_header{
    float: left;
    margin-left: 10%;  
    font-size: large; 
}

#link_header{
    color: white;
    padding: 30px 10px;
}

.nav,
.navbar-nav{
    float: right;
}

.header a{
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 80px;
}

.header{
    background-color: #2C3E50;
}

a{
    background-color: lightgreen;
    padding: 5px 5px;
    border-radius: 15%;
}

.contact{
    border-bottom: 1px solid grey;
}

#send{
    color: white;
    background-color: #1ABC9C;
    float: left;
}

#link_footer{
    text-decoration: none;
    padding: 0;
    color:#1ABC9C;
}